.menuItemContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .menuItemContainer .menuItemCard {
    background-color: #1a1814; 
    color: #ffffff; 
    width: 18rem;
    margin: 1rem;
    padding: 1rem;
  }
 
  .menuItemContainer .listItem {
    background-color: #1a1814;
    color: #ffffff; 
  }

  .menuItemContainer .button {
    color: #cda45e;
    text-decoration: none;
    background: none;
  }

  .cardImageTop {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }